{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "2.16.1"}
]}.

{shell, [
    {config, "config/sys.dev.config"},
    {apps, [stone_im]}
]}.

{profiles, [
    {test, [
        {deps, [
            {gun, "2.4.1"}
        ]},
        {ct_opts, [
            {logdir, "_build/test/ct_logs"},
            {sys_config, ["config/sys.test.config"]}
        ]}
    ]}
]}.
