[
    {kernel, [
        {logger_level, debug},
        {logger, [
            {handler, default, logger_std_h, #{
                level => debug,
                formatter => {logger_formatter, #{
                    template => [time, " [", level, "] ", msg, "\n"],
                    single_line => true
                }}
            }}
        ]}
    ]},
    {stone_im, [
        {http_port, {env, "HTTP_PORT", 18080}},
        {ws_port, {env, "WS_PORT", 18081}},
        {tcp_port, {env, "TCP_PORT", 18082}}
    ]}
].